/*
-----------------------------------------------------
RESET
-----------------------------------------------------
*/

p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;

    li {
        margin: 0;
        padding: 0
    }
}

/*
----------------------------------------------------
OVERWRITE 3RD PARTY
----------------------------------------------------
*/

[data-hint] {

    &:after {
        border-radius: 4px !important;
    }
}

.tether-element {
    z-index: 1100;
}